versioneer~=0.19
#setuptools~=52.0.0
setuptools
# Does NOT need ryerrabelli to be installed (would be a never-ending cycle if it did), unlike many other packages written by me. However, for consistency, if ryerrabelli is installed, the code will refer to itself as a package import instead of a relative import to match my other projects